/*
 * Copyright (c) 2019, Entgra (pvt) Ltd. (http://entgra.io) All Rights Reserved.
 *
 * Entgra (pvt) Ltd. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.ant-upload.ant-upload-drag {
    height: 170px;
}

.release .release-icon {
    margin-right: 15px;
}

.release .release-icon img {
    width: 100%;
    border-radius: 28%;
}

.release .release-title {
    margin-left: 15px;
}

.release .release-screenshot img {
    width: 100%;
    border-radius: 15px;
    padding: 5px;
}

.main-container {
    background: #f0f2f5;
    min-height: 780px
}

@media only screen and (min-width: 768px) {
    .main-container {
        padding: 24px;
    }
}
