/*
 * Copyright (c) 2019, Entgra (pvt) Ltd. (http://entgra.io) All Rights Reserved.
 *
 * Entgra (pvt) Ltd. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.d-rating .numeric-data{
    box-sizing: border-box;
    display: inline-block;
    padding: 20px 0 20px 0;
    vertical-align: top;
    text-align: center;
    width: 30%;
}

.d-rating .bar-containers{
    box-sizing: border-box;
    display: inline-block;
    padding: 20px 20px 20px 30px;
    vertical-align: top;
    width: 70%;
}

@media screen and (max-width: 768px) {

    .d-rating .bar-containers{
        width: 100%;
    }

    .d-rating .numeric-data{
        width: 50%;
    }

}

.d-rating .bar-containers .bar-container{
    color: #737373;
    font-weight: 400;
    height: 20px;
    margin-bottom: 4px;
    position: relative;
    width: 100%;
}

.d-rating .bar-containers .bar-container .number{
    font-size: 11px;
    left: -16px;
    letter-spacing: 1px;
    position: absolute;
}

.d-rating .bar-containers .bar-container .bar{
    transition: width .25s ease;
    display: inline-block;
    height: 100%;
    opacity: .8;
    border-radius: 5px;
}

.bar-container .rate-5{
    background: #57bb8a;
}

.bar-container .rate-4{
    background: #9ace6a;
}

.bar-container .rate-3{
    background: #ffcf02;
}

.bar-container .rate-2{
    background: #ff9f02;
}

.bar-container .rate-1{
    background: #ff6f31;
}

.d-rating .numeric-data .rate{
    color: #333;
    font-size: 64px;
    font-weight: 100;
    line-height: 64px;
    padding-bottom: 6px;
}

.d-rating .numeric-data .people-count{
    padding-top: 6px;
}