/*
 * Copyright (c) 2019, Entgra (pvt) Ltd. (http://entgra.io) All Rights Reserved.
 *
 * Entgra (pvt) Ltd. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.profile {
    float: right;
    margin-right: 2%;
}

.layout .trigger {
    font-size: 18px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    float: left;
    width: 40px;
}

.layout .trigger:hover {
    color: #1890ff;
}

.layout .logo-image {
    position: relative;
    height: 64px;
    padding-left: 8px;
    overflow: hidden;
    line-height: 64px;
    background: #001529;
    transition: all .3s;
}

.layout .brand{
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    vertical-align: middle;
}

.layout .logo-image img {
    height: 55px;
    margin-top: 5px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 760px) {
    @media screen and (max-width: 1030px) {

        Footer{
            margin-bottom: 45%;
        }
    }
}
